[Desktop Entry]
Version=1.0
Name[af]=PipeWire-klankstelsel
Name[as]=PipeWire শব্দ ব্যৱস্থা
Name[be]=Гукавая сістэма PipeWire
Name[bn_IN]=PipeWire শব্দ ব্যবস্থা
Name[ca]=Sistema de so PipeWire
Name[cs]=Zvukový systém PipeWire
Name[da]=PipeWire-lydsystem
Name[de_CH]=PipeWire Sound System
Name[de]=PipeWire Soundsystem
Name[el]=Σύστημα ήχου PipeWire
Name[es]=Sistema de Sonido PipeWire
Name[fi]=PipeWire-äänijärjestelmä
Name[fr]=Système de son PipeWire
Name[gl]=Sistema de son PipeWire
Name[gu]=PipeWire સાઉન્ડ સિસ્ટમ
Name[he]=מערכת הקול PipeWire
Name[hi]=पाइपवायर साउंड सिस्टम
Name[hr]=PipeWire zvučni sustav
Name[hu]=PipeWire hangrendszer
Name[id]=Sistem Suara PipeWire
Name[it]=Sistema sonoro PipeWire
Name[ja]=PipeWire サウンドシステム
Name[kk]=PipeWire дыбыс жүйесі
Name[kn]=PipeWire ಧ್ವನಿ ವ್ಯವಸ್ಥೆ
Name[ko]=파이프와이어 사운드 시스템
Name[lt]=PipeWire garso sistema
Name[ml]=PipeWire സൌണ്ട് സിസ്റ്റം
Name[mr]=PipeWire आवाज प्रणाली
Name[nl]=PipeWire geluidssysteem
Name[nn]=PipeWire lydsystem
Name[oc]=Sistèma de son PipeWire
Name[or]=PipeWire ଧ୍ୱନି ତନ୍ତ୍ର
Name[pa]=ਪਾਈਪ ਵਾਇਰ ਸਾਊਂਡ ਸਿਸਟਮ
Name[pl]=System dźwięku PipeWire
Name[pt_BR]=Sistema de som PipeWire
Name[pt]=Sistema de Som PipeWire
Name[ru]=Звуковая система PipeWire
Name[sk]=Zvukový systém PipeWire
Name[sr@latin]=PipeWire zvučni sistem
Name[sr]=PipeWire звучни систем
Name[sv]=PipeWire ljudsystem
Name[ta]=பைப் வயர் ஒலி அமைப்பு
Name[te]=PipeWire శబ్దపు సిస్టమ్
Name[tr]=PipeWire Ses Sistemi
Name[uk]=Звукова система PipeWire
Name[zh_CN]=PipeWire 声音系统
Name[zh_TW]=PipeWire 音效系統
Name[eo]=PipeWire-sonsistemo
Name=PipeWire Sound System
Comment[af]=Begin die PipeWire-klankstelsel
Comment[as]=PipeWire শব্দ ব্যৱস্থা আৰম্ভ কৰা হ'ব
Comment[be]=Запуск гукавой сістэмы PipeWire
Comment[bn_IN]=PipeWire শব্দ ব্যবস্থা আরম্ভ করা হবে
Comment[ca]=Inicialitza el sistema de so PipeWire
Comment[cs]=Spustit zvukový systém PipeWire
Comment[da]=Start PipeWire-lydsystemet
Comment[de_CH]=Das PipeWire Sound System starten
Comment[de]=Das PipeWire Soundsystem starten
Comment[el]=Έναρξη του συστήματος ήχου PipeWire
Comment[es]=Iniciar el Sistema de Sonido PipeWire
Comment[fi]=Käynnistä PipeWire-äänijärjestelmä
Comment[fr]=Démarrer le système de son PipeWire
Comment[gl]=Iniciar o Sistema de son PipeWire
Comment[gu]=PipeWire સાઉન્ડ સિસ્ટમને શરૂ કરો
Comment[he]=הפעלת מערכת הקול PipeWire
Comment[hi]=पाइपवायर साउंड सिस्टम शुरू करें
Comment[hr]=Pokreni PipeWire zvučni sustav
Comment[hu]=A PipeWire hangrendszer elindítása
Comment[id]=Memulai Sistem Suara PipeWire
Comment[it]=Avvia il sistema sonoro PipeWire
Comment[ja]=PipeWire サウンドシステムを開始
Comment[kk]=PipeWire дыбыс жүйесін іске қосу
Comment[kn]=PipeWire ಧ್ವನಿ ವ್ಯವಸ್ಥೆಯನ್ನು ಆರಂಭಿಸಿ
Comment[ko]=펄스오디오 사운드 시스템을 시작합니다
Comment[lt]=Paleisti PipeWire garso sistemą
Comment[ml]=PipeWire സൌണ്ട് സിസ്റ്റം ആരംഭിക്കുക
Comment[mr]=PipeWire आवाज प्रणाली सुरू करा
Comment[nl]=Start het PipeWire geluidssysteem
Comment[nn]=Start PipeWire-lydsystemet
Comment[oc]=Aviar lo sistèma de son PipeWire
Comment[or]=PipeWire ଧ୍ୱନି ତନ୍ତ୍ରକୁ ଆରମ୍ଭ କରନ୍ତୁ
Comment[pa]=ਪਾਈਪਵਾਇਰ ਸਾਊਂਡ ਸਿਸਟਮ ਚਲਾਉਂਦਾ ਹੈ
Comment[pl]=Uruchomienie systemu dźwięku PipeWire
Comment[pt_BR]=Inicie o sistema de som PipeWire
Comment[pt]=Inciar o Sistema de Som PipeWire
Comment[ru]=Запуск звуковой системы PipeWire
Comment[sk]=Spustenie zvukového systému PipeWire
Comment[sr@latin]=Pokreni PipeWire zvučni sistem
Comment[sr]=Покрени PipeWire звучни систем
Comment[sv]=Starta ljudsystemet PipeWire
Comment[ta]=PipeWire ஒலி அமைப்பைத் தொடங்கவும்
Comment[te]=PipeWire శబ్దపు సిస్టమ్‌ను ప్రారంభించుము
Comment[tr]=PipeWire Ses Sistemini Başlat
Comment[uk]=Запустити звукову систему PipeWire
Comment[zh_CN]=启动 PipeWire 声音系统
Comment[zh_TW]=啟動 PipeWire 音效系統
Comment[eo]=Startigi la PipeWire-sonsistemon
Comment=Start the PipeWire Sound System
Icon=preferences-sound
Exec=pipewire
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Initialization
X-GNOME-HiddenUnderSystemd=true
X-KDE-autostart-phase=1
