[Desktop Entry]
Version=1.0
Type=X-XFCE-Helper
Icon=falkon
Name=falkon
Name[ar]=falkon
Name[az]=falkon
Name[bg]=falkon
Name[ca]=falkon
Name[ca@valencia]=falkon
Name[cs]=falkon
Name[da]=falkon
Name[de]=falkon
Name[el]=falkon
Name[en_GB]=falkon
Name[es]=falkon
Name[et]=falkon
Name[eu]=falkon
Name[fi]=falkon
Name[fr]=falkon
Name[gl]=falkon
Name[ia]=falkon
Name[id]=falkon
Name[is]=falkon
Name[it]=falkon
Name[ka]=falkon
Name[ko]=falkon
Name[lt]=falkon
Name[nl]=falkon
Name[nn]=falkon
Name[pa]=falkon
Name[pl]=falkon
Name[pt]=falkon
Name[pt_BR]=falkon
Name[ru]=falkon
Name[sk]=falkon
Name[sl]=falkon
Name[sv]=falkon
Name[tr]=falkon
Name[uk]=falkon
Name[zh_CN]=falkon
Name[zh_TW]=falkon
StartupNotify=true
X-XFCE-Binaries=falkon
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=falkon "%s"
NoDisplay=true
X-XFCE-Commands=falkon
