[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[1.5 GB Volume]
row=4
col=0

[BBC3-E9DA]
row=3
col=0

[9d7e52e9-607b-456d-9f1a-c9fecb38e9d4]
row=1
col=0

[Trash]
row=2
col=0

[/home/cereus]
row=0
col=0

